:root { --backgr-color: #2E2F42;
    --color-text: #434455;
    --font-family-roboto: Roboto, sans-serif;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}

button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-left: auto;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title {
    margin-bottom: 72px;
}
body {
    font-family: var(--font-family-roboto);
    background: #FFFFFF;
    color: var(--color-text);
}

/* <!-- Шапка сторінки --> */
.container-header {
    display: flex;
    align-items: center;
}
.page-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
   
    
}
.page-navigation {
    display: flex;
    align-items: center;
    column-gap: 76px;
}

.site-nav {
    display: flex;
    align-items: center; 
    gap: 40px;
    padding: 24px 0;
}
.address-list {
    display: flex;
    align-items: center; 
    margin-left: auto;
}
.auth-nav {
    display: flex;
    align-items: center; 
    gap: 40px;
    
}
.logo,
.logo-studio {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

}

.logo-studio {
    color: var(--backgr-color);
}

.site-link {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--backgr-color);
    padding: 24px 0;
   
}

.address-list {
    font-style: normal;
    
}

.auth-nav-link {
    font-family: var(--font-family-roboto);
     font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color-text);
}

.site-link:hover,
.site-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus{
color: #404bbf;
}

/* Герой */

.hero {
    background: var(--backgr-color);
    width: 1440px;
      padding: 188px 0;
      
    
      
    
}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    
    
   
   
   
}


/* Button hero */
.button-hero {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
   
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
   

     
   

}

.button-hero:hover,
.button-hero:focus {
    color: #404bbf;
    background-color: #404BBF;
}

/* Переваги */
.section-advantages {
    padding: 120px 0;
    display: flex;
    gap: 24px;
    justify-content: center
}
.feature-advantages-list{
    display: flex;
    gap: 24px;
    justify-content: center;
   
}
.section-advantages-title {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
     

}

.title-advantages {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--backgr-color);
    margin-bottom: 8px;
    margin-top: 32px;

}

.item-advantages {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 32px;
}

.section-team {
    text-align: center;
    background-color: #F4F4FD;
}
.section-team-li {
    background-color: #FFFFFF;
   
  
}


.section-team {
    background: #F4F4FD;
    width: 1440px;
 } 
.section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    border-radius: 0px 0px 4px 4px; 
    
}
.section-team-container {
    padding: 32px 16px;
    display: flex;
     justify-content: center;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
     gap: 24px;
     padding: 32px 16px; 

}
.list-team {
   display: flex;
    gap: 24px;
    text-align: center; 
    
   
}
/* Footer */
.footer-item {
    font-family: var(--font-family-roboto);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #F4F4FD;
    max-width: 264px;
    
}

.footer {
    background: var(--backgr-color);
    width: 1440px;
height: 312px;
padding: 100px 0;
display: inline-block;
height: 312px;
}

.logo-studio-footer {
    color: #F4F4FD;
    
}

.lodo-fooder {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;
   

}

.logo-container
{ display: inline-block; 
    margin-bottom: 16px;}