:root {
    --backgr-color: #2E2F42;
    --color-text: #434455;
    --font-family-roboto: Roboto, sans-serif;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}
img {
    display: block;
}
.container {
    width: 1128px;
    margin-left: auto;
    margin-left: auto;
}
body {
    font-family: var(--font-family-roboto);
    background: #FFFFFF;
    color: #434455;
}

/* Heder */
.container-header {
    display: flex;
    align-items: center;
}
.page-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    
}
.page-navigation {
    display: flex;
    align-items: center;
    column-gap: 76px;
}
.page-header-container {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center; 
    column-gap: 40px;
}
.address-list {
    display: flex;
    align-items: center; 
    margin-left: auto;
}
.auth-nav {
    display: flex;
    align-items: center; 
    column-gap: 40px;
    
}
.logo,
.logo-studio {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-studio {
    color: var(--backgr-color);
}

.site-link {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--backgr-color);
}

.address-list {
    font-style: normal;
    color: #434455;
}

.auth-nav-link {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}

.site-link:hover,
.site-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus {
    color: #404bbf; 
}

/* Main */
.container-section{
    padding: 96px 0 120px;
}
.main {
    background: #E5E5E5;
}

/* button st2 */
.button-list{
    display: flex;
align-items: center;
justify-content: center;
column-gap: 24px;
padding: 12px 24px;
border: 1px solid #e7e9fc;
border-radius: 4px; 

}

.button-white {
    color: #4D5AE5;
    background: #F4F4FD;
    display: flex;
    column-gap: 24px;
    

}

.button-white:focus,
.button-white:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent; 
}

/* Sectin Photo */
.section-list {
    background: #FFFFFF;
    flex-basis: calc((100% - 24px) / 3);
    padding-bottom: 48px;
}

.title-advantages {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;


    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 32px;
    padding-left: 16px;

}

.item-advantages {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
    padding-left: 16px;

}
.section-list-photo {
    display: flex;
    flex-wrap: wrap;
}
/* Footer */
.footer-item {
    font-family: var(--font-family-roboto);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #F4F4FD;
}

.footer {
    background: var(--backgr-color);
    width: 1440px;
    height: 312px;
    padding-left: 156px;
    padding-top: 101px;
}

.logo-studio-footer {
    color: #F4F4FD;
}

.logo-fooder {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;

}
.footer-item {
    padding: 17px 1020px 100px 0;
}